@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=fallback');
@import 'additional-styles/custom-fonts';

@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import 'additional-styles/colors.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* styles.css */

/* Track */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgb(65, 65, 214);
    border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



/* Tailwind CSS utility classes (example) */
.container {
    @apply p-4;
    /* Add your Tailwind CSS utility classes here */
}